
<h1> Sign in</h1>

<div>
<%= form_with model:@user , method: 'POST' do |user| %>
<%=  user.label  "NEW User name:" , :class=>"form-label" %>
<%=  user.text_field :name , :class=>'form-control' , :autocomplete => :off %> 
<br>
<br>
<%= user.label :password, "NEW User Password:" , :class=>"form-label" %>
<%= user.password_field :password , :autocomplete => :off , :class=>'form-control' %>
<br>
<br>
    <%=user.submit  "sign in"  , :class=> "btn btn-primary" %>
<%end%>
</div> 